.header {
    // background: transparent;
    padding: 1rem 0;

    .navlist {
        gap: 0 2rem;

        .navItem {
            color: var(--white);
            font-family: 'Open Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 22px;
            padding: 0;
        }
    }
}