.main {
    .banner {
        padding-top: 8rem;

        p {
            margin-bottom: 1rem;
            color: #666666;

            span {
                position: relative;
                margin-left: 2rem;
                display: inline-flex;
                align-items: center;
                gap: 0.5rem;

                &::before {
                    content: '';
                    position: absolute;
                    left: -25px;
                    top: 13px;
                    height: 1px;
                    width: 20px;
                    background-color: #666666;
                }
            }
        }
    }

    .blogs_container {
        ol {
            list-style-position: inside;

            li {
                font-size: 1rem;
                color: #4A4A4A;
                line-height: 1.8;
            }
        }

        .maze_blog {
            position: relative;
            background: #2C71F6;

            .content {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                padding: 3.5rem 6rem 3.5rem 3.5rem;

                @media (max-width:767px) {
                    padding: 2rem 3rem 3rem 2rem;
                }

                p {
                    line-height: 1.8;
                }

                .btn_style {
                    background: #28B0DF;

                    &:hover {
                        background: #4A4A4A;
                    }
                }
            }
        }
    }
}