.main {
  section {
    padding: 6rem 0;

    @media (max-width:767px) {
      padding: 3rem 0;
    }
  }

  .banner {
    background: url(../../public/images/home-bg.svg) center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: 'Montserrat', sans-serif;
      color: var(--white);
      font-weight: 700;
    }

    p {
      font-size: 1.125rem;
      color: var(--white);
      font-weight: 400;
    }

    @media (max-width:767px) {
      justify-content: flex-start;
      padding-top: 12rem;
      min-height: 90vh;
      background: url(../../public/images/mobile-banner.svg) center/cover no-repeat;
    }
  }

  .aboutSec {
    background: #171717;
    padding-top: 0;

    .domainSearch {
      margin: -6rem 0 6rem;
      padding: 2rem 4rem 3rem;
      background: var(--white);
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
      border-radius: 12px;

      @media (max-width:767px) {
        padding: 2rem 1.5rem;
        margin-top: -10rem;
      }

      h3 {
        color: #1D1D1D;
        text-align: left;

        @media (max-width:767px) {
          text-align: center;
        }
      }

      p {
        color: #2D2D2D;
        line-height: 1.5;
        text-align: right;

        @media (max-width:767px) {
          text-align: center;
        }
      }

      .inputField {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        height: 52px;
        padding: 5px;

        @media (max-width:767px) {
          flex-direction: column;
          height: auto;
          border: 0;
          gap: 1rem;
        }

        input {
          border-radius: 0;
          border: 0;

          @media (max-width:767px) {
            border: 1px solid rgba(0, 0, 0, 0.16);
            border-radius: 4px;
            height: 52px;
            padding: 5px 10px;
          }
        }

        button {
          flex-shrink: 0;
          border-radius: 0;
          font-size: 14px;
          padding: 0.65em 1em;
        }
      }
    }

    h2 {
      color: var(--white);

      span {
        background: linear-gradient(269.83deg, #2A8FCB -7.11%, #323E9B 54.35%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    h4 {
      color: var(--white);
    }

    p {
      color: var(--white);
    }
  }

  .services {
    background: #f4fcff;

    p {
      color: #4A4A4A;
    }

    .card {
      border: 1px solid #D7D7D7;
      border-radius: 8px;
      padding: 1.75rem;
      min-height: 410px;

      @media (max-width:767px) {
        margin-bottom: 1.25rem;
      }

      img {
        min-height: 64px;
        object-fit: scale-down;
      }

      h2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5;
        color: #4A4A4A;
        margin-top: 2rem;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #666666;
        margin: 0;
        min-height: 104px;
      }

      &:hover {
        background: linear-gradient(133.1deg, #0D355C -21.53%, #0976DE 224.27%);

        p,
        h2 {
          color: var(--white);
        }
      }
    }
  }

  .services_section {
    background: linear-gradient(180deg, #FFFFFF -12.23%, #F7FDFF 54.47%, #EFFBFF 102.68%);

    h2 {
      color: #2D2D2D;

      span {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 26px;
        color: #0D3D6B;
        margin-bottom: 1.25rem;

        @media (max-width:767px) {
          font-size: 14px;
          margin-bottom: 0.75rem;
        }
      }
    }

    p {
      color: #666666;
      font-weight: 400;
      font-weight: 1rem;
      line-height: 1.5;

      @media (max-width:767px) {
        margin-bottom: 1.5rem;
      }
    }

    figure {
      @media (max-width:767px) {
        text-align: center;
        margin: 2rem 0;
      }
    }
  }

  .achivement_section {
    background: url(../../public/images/achievment_bg.png) center/cover no-repeat;
    position: relative;
    z-index: 1;

    >.bg_img {
      position: absolute;
      left: 0;
      right: 0;
      display: none;
      bottom: 0;
      top: 0;
      z-index: -1;
    }

    .card {
      background: var(--white);
      padding: 2rem;
      box-shadow: 0px 2px 24px rgba(27, 59, 119, 0.16);
      border-radius: 6px;

      @media (max-width:767px) {
        margin-bottom: 1rem;
      }

      h3 {
        font-family: 'Open Sans';
      }

      div {
        gap: 5px;
      }

      span {
        gap: 5px;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .pricing_section {
    h4 {
      color: #2D2D2D;
    }

    .tab_cont {
      gap: 1.5rem;
      margin-bottom: 2rem;

      @media (max-width:767px) {
        gap: 0.5rem 1rem;
      }

      .tab_item {
        padding: 0;

        .tab_link {
          border: 0;
          font-size: 1.125rem;
          font-weight: 500;
          padding: 0.5rem 0.25rem;
          color: rgba(0, 0, 0, 0.85);
          display: block;
          white-space: nowrap;
          border-bottom: 2px solid transparent;
          cursor: pointer;

          &:hover {
            border-color: var(--primary);
            color: var(--primary);
          }

          &.active {
            border-color: var(--primary);
            color: var(--primary);
          }

          @media (max-width:767px) {
            font-size: 14px;
          }
        }
      }
    }

    .custom_button {
      background: rgba(31, 31, 31, 0.7);
      border-radius: 2px;
      padding: 1em 1.25em;
      color: var(--white);
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      display: inline-block;
      transition: 0.3s ease-in-out;

      &:hover {
        background: var(--primary);
      }

      @media (max-width:767px) {
        display: none;
      }
    }
  }

  .custom_pack {
    background: var(--black) url(../../public/images/particles-bg.svg) center/cover no-repeat;

    p {
      color: #2D2D2D;

      a {
        color: #2D2D2D;
        transition: 0.3s ease-in-out;
        text-decoration: none;

        &:hover {
          color: #0976DE;
        }
      }
    }

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      @media (max-width:767px) {
        margin-bottom: 2rem;
      }

      li {
        font-size: 14px;
        line-height: 19px;
        color: var(--white);
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 0.75rem;

        &::before {
          content: '';
          width: 18px;
          height: 18px;
          display: inline-block;
          background: url(../../public/images/check.svg) center/contain no-repeat;
        }
      }
    }
  }

  .blogs_section {
    background: linear-gradient(180deg, #FFFFFF 0%, #EFFBFF 100%);

    a {
      color: var(--primary);
      text-decoration: none;

      @media (max-width:767px) {
        display: none;
      }
    }

    .button_wrap {
      display: flex;
      margin-top: 1rem;
      align-items: center;
      justify-content: flex-end;
      gap: 1rem;

      button {
        width: 20px;
        height: 20px;
        display: inline-grid;
        place-items: center;
        border: 0;
        background: transparent;

        img {
          filter: grayscale(1);
        }
      }

      @media (max-width:767px) {
        display: none;
      }
    }

    .swiper_cont {
      position: relative;
      margin-left: -10rem;

      @media (max-width: 1199.98px) {
        margin-left: -0rem;
      }

      @media (max-width:767px) {
        margin-left: 0;
      }

      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        background: #fff;
        width: 20%;
        z-index: 2;
        opacity: 0.2;

        @media (max-width:767px) {
          display: none;
        }
      }

      &::after {
        content: '';
        position: absolute;
        right: 0;
        bottom: 0;
        top: 0;
        background: #fff;
        width: 20%;
        z-index: 2;
        opacity: 0.2;

        @media (max-width:767px) {
          display: none;
        }
      }
    }

    .blog_card {
      figure {
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 1.5rem;

        img {
          transition: 0.3s ease-in-out;
          width: 100%;
        }
      }

      .content {
        h3 {
          color: #333333;
          font-size: 1.5rem;
          font-weight: 700;
          margin-bottom: 1rem;

          @media (max-width: 1199.98px) {
            font-size: 1.375rem;
          }

          @media (max-width:767px) {
            font-size: 1.25rem;
          }

          span {
            display: block;
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 8px;
            font-family: 'Open Sans';

            @media (max-width:767px) {
              font-size: 14px;
            }
          }
        }

        p {
          color: #666666;
          font-weight: 400;
        }
      }
    }
  }

  .our_clients {
    padding: 4rem 0;
    background: #F4FCFF;

    @media (max-width:767px) {
      padding-top: 0;
    }

    .content_box {
      background: var(--primary);
      border-radius: 12px;
      padding: 4rem 3.5rem;

      @media (max-width: 1199.98px) {
        padding: 2.5rem 2rem;
      }

      @media (max-width:767px) {
        padding: 2rem 0;
        text-align: center;
      }
    }
  }
}