.main {
  .banner {
    background: url(../../public/images/home-bg.svg) center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      font-family: 'Montserrat', sans-serif;
      color: var(--white);
      font-size: 3.75rem;
      font-weight: 700;
    }

    p {
      font-size: 1.125rem;
      color: var(--white);
      font-weight: 400;
    }
  }

  .aboutSec {
    background: #171717;
    padding-bottom: 6rem;

    .domainSearch {
      margin: -6rem 0 6rem;
      padding: 2rem 4rem 3rem;
      background: var(--white);
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.09);
      border-radius: 12px;

      h3 {
        color: #1D1D1D;
      }

      p {
        color: #2D2D2D;
        line-height: 1.5;
      }

      .inputField {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.16);
        border-radius: 4px;
        height: 52px;
        padding: 5px;

        input {
          border-radius: 0;
          border: 0;
        }

        button {
          flex-shrink: 0;
          border-radius: 0;
          font-size: 14px;
          padding: 0.65em 1em;
        }
      }
    }

    h2 {
      color: var(--white);

      span {
        background: linear-gradient(269.83deg, #2A8FCB -7.11%, #323E9B 54.35%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }

    h4 {
      color: var(--white);
    }

    p {
      color: var(--white);
    }
  }

  .services {
    padding: 4rem 0;
    background: #f4fcff;

    p {
      color: #4A4A4A;
    }

    .card {
      border: 1px solid #D7D7D7;
      border-radius: 8px;
      padding: 1.75rem;

      img {
        min-height: 64px;
        object-fit: scale-down;
      }

      h2 {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 1.5;
        color: #4A4A4A;
        margin-top: 2rem;
      }

      p {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #666666;
        min-height: 104px;
      }
    }
  }

  .services_section {
    padding: 4rem 0;

    h2 {
      color: #2D2D2D;

      span {
        font-family: 'Montserrat';
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 26px;
        color: #0D3D6B;
        margin-bottom: 1.25rem;
      }
    }

    p {
      color: #666666;
      font-weight: 400;
      font-weight: 1rem;
      line-height: 1.5;
    }
  }

  .achivement_section {
    background: url(../../public/images/achivement-bg.svg) center/cover no-repeat;
    padding: 6rem 0;

    .card {
      background: var(--white);
      padding: 2rem;
      box-shadow: 0px 2px 24px rgba(27, 59, 119, 0.16);
      border-radius: 6px;

      h3 {
        font-family: 'Open Sans';
      }

      div {
        gap: 5px;
      }

      span {
        gap: 5px;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .pricing_section {
    padding: 4rem 0;

    h4 {
      color: #2D2D2D;
    }

    p {
      color: #4A4A4A;
    }

    .tab_cont {
      gap: 1.5rem;
      margin-bottom: 2rem;

      .tab_item {
        padding: 0;

        .tab_link {
          border: 0;
          font-size: 1rem;
          font-weight: 400;
          padding: 0.5rem 0.25rem;
          color: rgba(0, 0, 0, 0.85);
          display: block;
          border-bottom: 2px solid transparent;
          cursor: pointer;

          &:hover {
            border-color: var(--primary);
            color: var(--primary);
          }

          &.active {
            border-color: var(--primary);
            color: var(--primary);
          }
        }
      }
    }

    .pricing_card {
      background: #FAFCFC;
      border: 3px solid #ECECEC;
      box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.13);
      border-radius: 12px;

      span {
        background: #F1F7FB;
        border-radius: 20px;
        display: inline-block;
        padding: 0.5rem 1rem;
        font-size: 14px;
        font-weight: 500;
        color: var(--primary);
      }

      p {
        color: #4A4A4A;
        font-size: 14px;
        line-height: 1.5;
        margin: 1.5rem 0;
      }

      h3 {
        color: #1D1D1D;
        margin: 1rem 0;
      }

      .button {
        color: var(--primary);
        display: inline-block;
        background: #F7F7F7;
        border: 1px solid var(--primary);
        border-radius: 4px;
        padding: 0.75rem 1.25rem;
        font-size: 14px;
        font-weight: 600;
        text-decoration: none;
      }

      .border_bottom {
        border-bottom: 1px solid #EAEFF5;
      }

      ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
          font-size: 14px;
          line-height: 19px;
          color: #2D2D2D;
          display: flex;
          align-items: center;
          gap: 0.75rem;
          margin-bottom: 0.75rem;

          &::before {
            content: '';
            width: 18px;
            height: 18px;
            display: inline-block;
            background: url(../../public/images/check.svg) center/contain no-repeat;
          }
        }
      }

      &:hover {
        background: linear-gradient(141.9deg, #0D3962 -2.35%, #0976DE 106.86%);
        border: 3px solid rgba(255, 255, 255, 0.7);
        box-shadow: 0px 2px 17px rgba(0, 0, 0, 0.15);

        span {
          background: rgba(255, 255, 255, 0.2);
          color: var(--white);
        }

        p {
          color: var(--white);
        }

        h3 {
          color: var(--white);
        }

        .button {
          border-color: var(--white);
          color: var(--white);
          background: transparent;
        }

        .border_bottom {
          border-bottom: 1px solid rgba(234, 239, 245, 0.16);
        }

        ul {
          li {
            color: var(--white);

            &::before {
              background: url(../../public/images/check-white.svg) center/contain no-repeat;
            }
          }
        }
      }
    }

    .button_wrap {
      position: absolute;
      left: 0;
      right: 0;
      padding: 0 1rem;
      top: 50%;
      transform: translateY(-50%);
      z-index: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        width: 56px;
        height: 56px;
        display: inline-grid;
        place-items: center;
        border-radius: 50%;
        border: 0;
        background: rgba(234, 239, 243, 0.69);
      }
    }

    .custom_button {
      background: rgba(31, 31, 31, 0.7);
      border-radius: 2px;
      padding: 1em 1.25em;
      color: var(--white);
      font-size: 14px;
      font-weight: 600;
      text-decoration: none;
      display: inline-block;
      transition: 0.3s ease-in-out;

      &:hover {
        background: var(--primary);
      }
    }
  }

  .custom_pack {
    padding: 6rem 0;
    background: var(--black) url(../../public/images/particles-bg.svg) center/cover no-repeat;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        font-size: 14px;
        line-height: 19px;
        color: var(--white);
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 0.75rem;

        &::before {
          content: '';
          width: 18px;
          height: 18px;
          display: inline-block;
          background: url(../../public/images/check.svg) center/contain no-repeat;
        }
      }
    }

    .form_section {
      padding: 2.25rem 3rem;
      border: 5px solid #0D2C48;
      border-radius: 12px;
      background: var(--white);

      .input_field {
        margin-bottom: 1rem;
        input {
          border: 0;
          padding: 0.5rem;
          color: #787878;
          border-bottom: 1px solid #DCDCDC;
        }
      }
    }
  }
}